<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.    See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.tomee.catalina.ServerListener"/>
    <!-- Security listener. Documentation at /docs/config/listeners.html
    <Listener className="org.apache.catalina.security.SecurityListener" />
    -->
    <Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <Service name="Catalina">
        <Executor maxThreads="400" minSpareThreads="25" name="httpAprThreadPool" namePrefix="http-apr-" prestartminSpareThreads="true"/>
        <Executor maxThreads="400" minSpareThreads="25" name="httpsAprThreadPool" namePrefix="https-apr-" prestartminSpareThreads="true"/>
        <Executor maxThreads="400" minSpareThreads="25" name="ajpThreadPool" namePrefix="ajp-" prestartminSpareThreads="true"/>
        <Connector port="8080" protocol="org.apache.coyote.http11.Http11AprProtocol" executor="httpAprThreadPool"
                   URIEncoding="UTF-8" acceptCount="200" acceptorThreadCount="4" maxConnections="16000" 
                   redirectPort="8443" />
        <Connector port="8009" protocol="org.apache.coyote.ajp.AjpAprProtocol" executor="ajpThreadPool"
                   URIEncoding="UTF-8" acceptCount="200" acceptorThreadCount="4" maxConnections="16000"
                   redirectPort="8443"/>
        <Connector port="8443" protocol="org.apache.coyote.http11.Http11AprProtocol" executor="httpsAprThreadPool"
                   xpoweredBy="false"
                   URIEncoding="UTF-8" acceptCount="200" acceptorThreadCount="4" maxConnections="16000"
                   scheme="https" secure="true" SSLEnabled="true"
                   >
            <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />
            <SSLHostConfig>
            <Certificate certificateKeyFile="SSL_PRIVKEY_FILE"
                         certificateKeyPassword="SSL_PRIVKEY_PASSWORD"
                         certificateFile="SSL_CERT_FILE"
                         certificateChainFile="SSL_CERT_CHAIN_FILE"
                         type="SSL_CERT_TYPE" />
            </SSLHostConfig>
        </Connector>
        <Engine defaultHost="${server.hostname}" jvmRoute="${server.id}" name="Catalina">
            <Host appBase="webapps" autoDeploy="true" name="${server.hostname}" unpackWARs="true">
                 <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster">
                    <Channel className="org.apache.catalina.tribes.group.GroupChannel">
                        <Membership address="228.0.0.4" port="45564" className="org.apache.catalina.tribes.membership.McastService" dropTime="3000" frequency="500"/>
                        <Receiver address="auto" autoBind="100" className="org.apache.catalina.tribes.transport.nio.NioReceiver" maxThreads="6" port="4000" selectorTimeout="5000"/>
                        <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
                            <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender"/>
                        </Sender>
                        <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector"/>
                        <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatchInterceptor"/>
                        <Interceptor className="org.apache.catalina.tribes.group.interceptors.ThroughputInterceptor"/>
                    </Channel>
                    <Valve className="org.apache.catalina.ha.tcp.ReplicationValve" filter=""/>
                    <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve"/>
                    <Deployer className="org.apache.catalina.ha.deploy.FarmWarDeployer" deployDir="webapps" tempDir="apps/war-temp" watchDir="apps/war-listen" watchEnabled="false"/>
                    <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener"/>
                </Cluster>
                <Valve className="org.apache.catalina.authenticator.SingleSignOn"/>
            </Host>    
        </Engine>
    </Service>
</Server>

